.navContainer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;

}

.text {
  color: var(--light);
  font-weight: bold;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid gray;
}

.searchBar input {
  border: none;
  padding: var(--padding);
  outline: none;

  border-radius: var(--border-radius);
}

.navContainer {
  width: auto;
  background-color: var(--primary);
  height: 50px;
  text-align: center;
  display: flex;
}

.moreOptionContainer {
  background-color: var(--primary);
  width: 160px;
  height: 190px;
  position: absolute;
  top: 20%;
  z-index: 100;

}

.homeContainer {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 280px));
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.btn-pri {
  background-color: var(--primary) !important;
}

.card img {
  width: auto;
  height: 150px;
}

.card-body {
  border: none;
  box-shadow: var(--box-shadow);
  outline: none;
}

.single-house_container {
  padding: 2.4rem 3.8rem;
  display: flex;
  justify-content: space-around;
}

.single-house_img img {

  height: 300px;
  border-radius: var(--border-radius);

}

.house-summery {
  display: flex;
  justify-content: space-around;


}

.house-summery>div {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 0.2rem;
  border-right: solid 1px rgb(188, 187, 187);
}

.description {
  width: 400px;
}

.house-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house-info li {
  width: 100%;
  border-top: 1px solid gray;
}

.desc {
  border-top: 1px solid gray;
  margin-top: 2rem;
}

.single-house_img {

  text-align: center;
  width: 560px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(189, 189, 189);
  box-shadow: var(--box-shadow);
  padding: 0.8rem 1rem;
}

.single-house_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}